<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% include 'includes/nav.html.twig' %}
<main class="my-8">
    {% block body %}{% endblock %}
    {% if app.user %}
        {% include 'includes/cart.html.twig' %}
    {% endif %}
</main>
</body>
<script>
    const cartContainer = document.querySelector('#cart-container')
    const cartBtn = document.querySelector('#cartBtn')
    const bodyContainer = document.querySelector('body')
    bodyContainer.onclick = (/** @type {MouseEvent} */ event) => {
        if (cartContainer.classList.contains('translate-x-0')) {
            const target = event.target
            if (!cartBtn.contains(target) && !cartContainer.contains(target)) {
                toggleCart()
            }
        }
    }

    cartBtn.onclick = toggleCart

    function toggleCart() {
        ['translate-x-0', 'translate-x-full'].map(v => cartContainer.classList.toggle(v))
    }
</script>
{% block script %}{% endblock %}
</html>
